PUID=1000
PGID=1000
TZ=America/Chicago
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key_here
PORT_FORWARD_ONLY=on
VPN_PORT_FORWARDING=on
SERVER_COUNTRIES=United States
FIREWALL_INPUT_PORTS=8080
